extends layout

block content
  h1= "掛算計算機"
  form(method='POST' action='/')
    p
      | 計算
      br
      input(type='text' name='opr1')
      | X
      input(type='text' name='opr2')
    p
      input(type='submit' value='送信する')
  p
    div(id='calc')=output1
    div(id='result1')=output2
  h1= "素数判定"
  form(method='POST' action='/primenumber')
    p
      | 素数
      br
      input(type='text' name='num')
    p
      input(type='submit' value='送信する')
  p
    div(id='result2')=answer
